# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
src/android-chrome-192x192.png
src/android-chrome-256x256.png
src/apple-touch-icon.png
src/favicon-16x16.png
src/favicon-32x32.png
src/index.html
src/mstile-150x150.png
src/safari-pinned-tab.svg
src/app/app.component.html
src/app/home/home.component.css
src/app/home/home.component.html
src/app/home/home.component.ts
src/assets/android-chrome-192x192.png
src/assets/android-chrome-256x256.png
src/assets/apple-touch-icon.png
src/assets/browserconfig.xml
src/assets/favicon-16x16.png
src/assets/favicon-32x32.png
src/assets/mstile-150x150.png
src/assets/safari-pinned-tab.svg
src/assets/site.webmanifest
