<mat-grid-list [cols]="numberOfColumns" rowHeight="200px" gutterSize="16px">
    <mat-grid-tile *ngFor="let category of palData.pals">
        <img src="./assets/images/pals/pal{{ category.palId }}.png" alt="{{ category.palName }} Icon" class="grid-image">
        
        <div class="pal-number">#{{ category.palId }}</div>

        <div class="grid-footer">
            
            <mat-checkbox class="custom-checkbox" color="primary" value="{{category.palId}}" [(ngModel)]="category.owned" (change)="onCheckboxChange(category)"></mat-checkbox>
            
            {{ category.palName }}</div>
    </mat-grid-tile>
  </mat-grid-list>