<mat-grid-list [cols]="numberOfColumns" rowHeight="200px" gutterSize="16px">
    <mat-grid-tile *ngFor="let pal of palData.pals">

        <div class="pal-number">#{{ pal.palId }}</div>   

        <div class="click-hover" (click)="flipCheckboxChange(pal)"></div>

        <img [className]="getImageClassFor(pal)" src="./assets/images/pals/pal{{ pal.palId }}.png" alt="{{ pal.palName }} Icon" class="grid-image">
    
        <div class="grid-footer">
            
            <mat-checkbox class="custom-checkbox" color="primary" value="{{pal.palId}}" [(ngModel)]="pal.owned" (change)="onCheckboxChange(pal)"></mat-checkbox>
            
            {{ pal.palName }}
        </div>
    </mat-grid-tile>
  </mat-grid-list>