<blockquote>Use this page to see all the possible parents that can create the selected child.</blockquote>

<app-image-select [palData]="palData" title="Selected Child" (selectedPalIdEmitter)="showParentsFor($event)"></app-image-select>

<mat-grid-list [cols]="numberOfColumns" rowHeight="200px" gutterSize="16px">
    <mat-grid-tile *ngFor="let breeding of availableParents">
        
        <img src="./assets/images/pals/pal{{ breeding.parentA.palId }}.png" alt="{{ breeding.child.palName }} Icon" class="grid-image-left">
        <img src="./assets/images/pals/pal{{ breeding.parentB.palId }}.png" alt="{{ breeding.child.palName }} Icon" class="grid-image-right">
        
        <div class="grid-footer">            
            {{ breeding.parentA.palName }} + {{ breeding.parentB.palName }}        
        </div>

    </mat-grid-tile>
  </mat-grid-list>