<mat-toolbar color="primary">
    <span>PalWorld Info</span>
  
    <button mat-button color="accent" routerLink="/">Home</button>
    <button mat-button color="accent"  routerLink="/mypals">My Pals</button>
    <button mat-button color="accent" routerLink="/parents">Parents</button>
    <button mat-button color="accent" routerLink="/canbreed">Can Breed</button>

    <!-- This fills the remaining space of the current row -->
    <!--<span class="example-fill-remaining-space"></span>
  
    <span>Right Aligned Text</span>-->
</mat-toolbar>

<router-outlet></router-outlet>
